/*#A9C0C7*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: #4F4F4F;
}

.title-text {
  color: #4F4F4F;
  display: inline-block;
  font-size: 35px;
}

.title-display {
  text-align: center;
  padding: 5px;
  background: linear-gradient(to bottom, #A9C0C7, #E1EDF0);
}

header nav {
  background-color: #E1EDF0;
  text-align: center;
  border-bottom: 1px solid #656C6E;
}header nav li {
  border: 1px solid #4F4F4F;
  background-color: #A9C0C7;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}header nav li:hover {
  background-color: #E1EAEB;
}header nav li:first-child {
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}header nav li:last-child {
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

#sidebar {
  display: inline-block;
  float: right;
  margin: 10px;
  width: 20%;
}

#content {
  display: inline-block;
  margin: 10px;
  width: 75%;
}

.new-post {
  font-size: 15px;
  margin: 10px 0px 10px;
  border-bottom:1px dotted black;
}

#post-script {
  background: linear-gradient(to bottom, white, #A9C0C7);
  position: relative;
  padding: 10px 0px 10px;
  text-align: center;
  font-size: 7px;
}